@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
    box-shadow: 0 0 10px $shadow;
}

/* Header */

.header {
    height: 20vh;
    
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    
}

/* Title */

.title,
.logo {
    margin-left: 2vw;
    padding-top: 3em;
    
}
.logo {
    max-width: 20%;
}
.logo img {
    object-fit: cover;
}
.tagline a{
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {

    .title,
    .logo {
        margin-left: 1vw;
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
    
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}


/* Nav */

#nav a {
    display: block;
    width: 6rem;
    height: 2rem;
    padding-top: 2px;
    text-align: center;
}

#nav a:hover {    
    background-color: $background-alternative-color;
}

#nav .active a {
    border-bottom: 2px solid $accent-color;
}

/* Main */

.main {
    height: 75vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.main > p {
    width: 46vw;
}

/* Footer */

.footer {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}