.landingpage {
    display: grid;
    gap: 1em 1em;
    margin: 0;
}

.landingpage h1 {
    
    justify-self: center;
}

.landingpage .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border: 1px solid #000;
}